package html

templ WelcomeHTML(name string) {
<table class="container" width="600" cellpadding="0" cellspacing="0">
	<!--HEADER-->
	<tr>
		<td style="background-color: #345c72; color: #ffffff; text-align: center; padding: 20px;">
			<h1>{ name }, Welcome to Our Waitlist</h1>
		</td>
	</tr>
	<!--BODY-->
	<td style="padding: 20px; font-size: 16px; line-height: 1.6;">
		<p>Here's what you need to know</p>
	</td>
	<tr>
		<td align="center" style="background: #345C72; padding: 10px 20px; border-radius: 5px;">
			<a href="https://www.example.com" target="_blank"
				style="color: #ffffff; text-decoration: none; font-weight: bold;">
				Do something with
				button
			</a>
		</td>
	</tr>
	<!--FOOTER-->
	<tr>
		<td style="background-color: #333333; color: #999999; text-align: center; padding: 20px;">
			<p>
				Contact us at support@example.com
			</p>
		</td>
	</tr>
</table>
}
